n8n-workflows/delete-influencer.json
{
    "name": "Delete Influencer",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "DELETE",
                "path": "delete-influencer",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "operation": "delete",
                "schema": "public",
                "table": "ai_influencers",
                "filters": {
                    "conditions": [
                        {
                            "keyValue": {
                                "key": "id",
                                "value": "={{ $json.query.id }}"
                            }
                        }
                    ]
                }
            },
            "name": "Delete from Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                400,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true }) }}"
            },
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Delete from Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Delete from Supabase": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}